.bordas div{
    display: flex;
    align-items: center;
}
.bordas div svg{
    color: var(--red);
    margin-left: 3rem;
    cursor: pointer;
}
.borda {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}
.borda input{
    margin: 1rem 0;
    border: .1rem rgb(170, 170, 170) solid;
}