#button{
    height: 5rem;
    max-width: 30rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    border-radius: .5rem;
    border: none;
    background: var(--red);
    color: var(--white);
    cursor: pointer;
    box-shadow: .1rem .1rem .6rem rgb(82, 82, 82);
    padding: .5rem 2rem;
}
#button:hover{
    transition: ease-in 300ms;
    background: #ad231f;
}
/* Button Plus */
#button-plus{
    display: flex;
    align-items: center;
    background: var(--red);
    border-radius: .8rem;
}
#button-plus button{
    font-size: clamp(1.8rem, 2vw, 2.4rem);
    font-weight: 700;
    background: transparent;
    border: none;
    color: var(--white);
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: .8rem;
}
#button-plus button:hover{
    transition: ease-in 300ms;
    background: #ad231f;
}
#button-plus button:first-child{
    border-right: .2rem solid rgba(0, 0, 0, 0.3);
}
#button-plus button:last-child{
    border-left: .2rem solid rgba(0, 0, 0, 0.3);
}
#button-plus p{
    font-size: clamp(1.8rem, 2vw, 2.2rem);
    font-weight: 700;
    color: var(--white);
    padding: 0 1rem;
}