.clients{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}
.gridcenter{
    justify-self: center;
}
.clients h1{
    margin: 5rem 0;
}
.clients .user, .clients .titles{
    width: 90%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem 2.5rem;
}
.clients .titles p{
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--black);
}
.clients button{
    padding: .8rem 2rem;
    font-size: 2.2rem;
    font-weight: 600;
    color: white;
    border-radius: .5rem;
    background: #0488cd;
    border: none;
    cursor: pointer;
}
.clients form{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}
.clients label{
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.clients input{
    width: 30rem;
    border: .1rem solid rgb(102, 102, 102);
}
.clients .actions{
    display: flex;
    align-items: flex-end;
    margin-bottom: 3rem;
}

@media (max-width: 750px){
    .clients .actions{
        align-self: flex-start;
        flex-direction: column;
        align-items: center;
    }
    .clients label{
        margin-top: 2rem;
    }
    .clients .titles {
        display: none;
    }
    .clients h1{
        font-size: 3.6rem;
    }
}
@media (max-width: 450px){
    .clients input{
        width: 24rem;
    }
    .clients button{
        font-size: 1.8rem;
    }
    .clients form{
        margin-left: 0;
    }
}