.modal-input{
    display: flex;
    align-items: center;
    background: white;
    border-radius: .5rem;
}
.modal-input form{
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
}
.modal-input select, .modal-input option{
    font-size: 2rem;
}
.modal-input label{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.modal-input input{
    margin-bottom: 2rem;
    border: .1rem solid rgb(151, 151, 151);
}
.modal-input button{
    background: #266ea0;
    border: none;
    color: var(--white);
    font-size: 2rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
}
.modal-input .buttons{
    padding: 0 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.modal-input .buttons button:first-child{
    background: #c94137;
}
.modal-input .buttons button:last-child{
    background: #4fba3e;
}
.days{
    display: flex;
    flex-direction: column;
}
.form-day{
    display: flex;
    align-items: center;
}
.days input{
    width: 15rem;
    margin: .8rem;
    border: .1rem solid rgb(143, 143, 143);
}
.days label{
    display: block;
    width: 5rem;
}