.tracker{
    height: 90vh;
    padding-top: 17vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tracker h5{
    font-size: 3rem;
    color: var(--red);
    padding: 0 1rem;
}
.tracker h4{
    color: var(--red);
    margin-right: 0 !important;
}
.tracker .item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 2rem;
    border-radius: .5rem;
}
.tracker h6{
    font-size: 2rem;
}
.tracker span{
    font-size: 1.8rem;
    font-weight: 700;
}
.whats svg{
    color: var(--white);
    font-size: 2.4rem;
    margin-right: 1rem;
}
.whats{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    background: green;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);
    border: none;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: .5rem;
}