.inicio{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 875px){
    .mobile-divider{
        height: 25rem;
    }
}
@media (max-width: 400px){
    .mobile-divider{
        height: 27rem;
    }
}