@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
  --orange: #f7ad4e;
  --red: #f1352e;

  --black: rgb(17, 17, 17);
  --white: rgb(235, 235, 235);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 62.5%;
}

.body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(250,191,114);
  background: radial-gradient(circle, rgb(252, 188, 104) 0%, rgb(223, 154, 64) 100%);
  overflow: hidden;
}

h1{
  font-size: 5.6rem;
}
h2{
  font-size: 4.8rem;
}
h3{
  font-size: 3.6rem;
}
h4{
  font-size: 2.4rem;
}
p{
  font-size: 1.6rem;
}

input{
  width: 35rem;
  height: 4.5rem;
  border: none;
  outline: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 0 1.5rem;
  border-radius: .5rem;
}
.margin{
  margin-top: 5rem;
}
.unshow{
  display: none !important;
}
.show{
  display: flex !important;
}
.drag{
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center;
  width: 6rem !important;
  height: 3rem;
  border-radius: 5rem;
  background: rgb(201, 201, 201);
  cursor: pointer;
}
.active{
  background: #49a347;
  justify-content: flex-end !important;
}
.drag .pointer{
  width: 3rem !important;
  height: 3rem;
  background: white;
  border-radius: 50%;
  border: .1rem solid rgb(92, 92, 92);
}
.modal{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}